.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('./assets/blur_img.jpg');
  background-size: cover;
  background-position: center center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
