.container_detail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}
.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: transparent;
}
.detail_content {
  display: flex;
  width: 100%;
}
.detail_content_right {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-size: 1.6rem;
  gap: 0.6rem;
}
.detail_content_left {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  min-width: 200px;
}
